<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mvc</title>
    
  
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PagedList.css" asp-append-version="true" />
</head>
<body id="page-top">
    <div id="wrapper">
        @await Html.PartialAsync("_sidebar")
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            @await Html.PartialAsync("_navbar")
            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                 
                    <div class="container-fluid">
                        @RenderBody()
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
